@import "../defaults/color";


/*==Navigation(header)====================================*/
.navigation{
    z-index: 200;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient( 180deg, #ffffff, rgba(255, 255, 255, 0.8) 59%, transparent);
}  
.logo-container{
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: $logo-color1;
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Dancing Script;
    z-index: 113;
    position: relative;
}
.logo img{
    height: 50px;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu li a{
    color: $menu-color1;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 30px;
    transition: all ease 0.3s;
}
.menu li a:hover{
    color: $menu-color2-hover;
}
.menu li .nav-contact{
    background-color: $navigation-background-color;
    width: 100%;
    max-width: 180px;
    height: 35px;
    border-radius: 20px;
    color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.menu li .nav-contact:hover{
    color: $navigation-color1-hover;
}
/*==media-breakpoints(various)============*/
.menu-icon,
.menu-btn{
    display: none;
}
@media(max-width:850px){
    .navigation{
        width: 100%;
        z-index: 103;
    }
    .logo-container{
        width: 100%;
    }
    .logo img{
        max-height: 30px;}

    .navigation .menu{
        display: none;
        position: absolute;
        left: 0px;
        top:calc(100% + 1px);
        background-color: $primary-color;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 104;
    }
    .navigation .menu li{
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 20px;
        border-bottom: 1px solid $border-color1;
    }
    .menu-icon{
        display: block;
    }
    .menu li .nav-contact{
        max-width: 100%;
        border-radius: 0px;
        justify-content: flex-start;
    }
    .navigation .menu-icon{
        cursor: pointer;
        padding: 10px 0px;
        position: relative;
        user-select: none;
        z-index: 106;
    }
    .navigation .menu-icon .nav-icon{
        background-color: $navigation-color2;
        display: block;
        position: relative;
        height: 2px;
        transition: background 0.2s ease-out;
        width: 25px;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: $navigation-color2;
        content: '';
        position: absolute;
        height: 100%;
        transition: all ease-out 0.2s;
        width: 100%;
    }

    .navigation .menu-icon .nav-icon::before{
        top: 9px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -9px;
    }
    .navigation .menu-icon:checked ~ .menu-icon .nav-icon,
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .menu::before{
        content: '';
        position: absolute;
        left: 0px;
        top: calc(-100% - 1px);
        width: 100%;
        height: 100%;
        background-color: $primary-color
    }
    .navigation .menu-btn:checked ~ .menu{
        display: block;
        border-top: 1px solid $navigation-color3;
    }
    
}