$primary-color: #ffffff;
$selection-color: #3330fa;
$navigation-background-color: #0c0c0c;
$logo-color1: #1d1d1d;
$menu-color1: #1a1a1a;
$menu-color2-hover: #689af8;
$navigation-color1-hover: #e4e4e4;
$navigation-color2: #181818;
$navigation-color3: #f7f7f7;
$main-text-color1: #689af8;
$main-text-color2: rgb(235, 238, 240);
$main-text-color3: #4b4b4b;
$footer-color: #313131;
$footer-color2: #1f1f1f;
$blog-color1: #1a1a1a;
$blog-color2: #161616;
$blog-color3: #3a3a3a;
$blog-color4: #242424;
$content-color1: #222222;
$content-color2: #4e4e4e;
$content-color3: #2c2c2c;
$border-color1: #e2e2e26e;
$blog-color5: #f7f7f7;
$color1: #303030;
$color2: #dbdbdb;
$color3: #252525;
$color4: #797979;
$color5: #3330fa;
$color6: #363636;
$color7: #20202000;
$color8: rgba(176, 176, 176, 0.4)
